@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --obl-red: #e7042d;
  --obl-blue: #003091;
  --obl-dark-blue: #010123;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply with different delays for staggering */
.animate-fade-in-up-1 {
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.2s;
}
.animate-fade-in-up-2 {
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.4s;
}
.animate-fade-in-up-3 {
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.6s;
}
